/*Header (Apply to all)*/

body {
    font-family:Arial, sans-serif;
    margin: 0;
    background-color: #000000;
}

.top a{
    color: whitesmoke;
    background-color: #000000;
    text-decoration: none;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top a:hover{
    text-decoration: underline;
}

header{
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    padding: 5px;
    z-index: 999;
    display: grid;
    grid-template: 60px / 15% 70% 15%;
    grid-template-areas: 
    "left mid right";
}

#left{
    font-size:x-large;
    grid-area: left;
    display: flex;
    justify-content: left;
    text-align: left;
}

#mid{
    font-size: small;
    font-family:monospace;
}

#right{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: right;
    text-align: right;
}

#right a{
    color: #202020;
}

#right a img{
    padding-right: 10px;
    scale: 3;
}

#left a img{
    height: 100%;
}


/* HEADER NAVBAR */

nav{
    position: sticky;
    top: 70px;
    z-index: 999;
}
nav ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #2b83f9;
    margin: 0;
    font-size: 20px;
}

nav ul li {
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #3b90ff;
    transition: 0.3s;
}


/*Hem.html*/

.spacer{
    height: 600px;
    display: grid;
    grid-template: 100% / 15% 70% 15;
    grid-template-areas: 
    "sideL mid sideR";
}
#sideL{
    grid-area: sideL;
    background-color: #000000;
}
#sideR{
    grid-area: sideR;
    background-color: #000000;
}
#mid{
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Prod.html*/

        /* HADE DENNA FÖRST, MEN GJORDE CONTAINERN TILL EN BILD FÖR ENKLARE PARALLAX
        KODEN NEDAN ÄR KODEN FÖR BACKGRUNDSBILDEN MED PARALLAX PÅ PRODUKT-SIDAN */

        /* .spacerP{
    top: 120px;
    min-height: 700px;
    background-color: #fff;
    display: grid;
    grid-template: 100px 600px / 15% 70% 15%;
    grid-template-areas: 
    "top top top"
    "sideLP midP sideRP";
}
#topP{
    grid-area: top;
    background-color: #fff;
    text-align: center;
}
#topP h3{
    text-decoration: underline;
}
#sideLP{
    grid-area: sideLP;
    background-color: #fff;
}
#sideRP{
    grid-area: sideRP;
    background-color: #fff;
}
#midP{
    grid-area: midP;
    display: flex;
    justify-content: center;
    align-items: center;
}
#midP img{
   scale: 0.7;
} */



.spacerP {
    background-image: url("Assets/BackgroundP22.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
/* PRODUCTS */

.Products{
    display: grid;
    z-index: 9;
    grid-template: 500px 340px / 25% 25% 25% 25%;
    grid-template-areas: 
    "Prod1 Prod2 Prod3 Prod4"
    "Prod1D Prod2D Prod3D Prod4D";
   
}



.prodd{
    z-index: 9;
    background-color: #1e318b;
}



#Prod1{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,148,1) 0%, rgba(0,164,255,1) 100%); 
    grid-area: Prod1;
    display: grid;
    grid-template: 100px 400px / 1fr;
    grid-template-areas: 
    "Prod1I"
    "Prod1P";  
    z-index: 9;
}
    #Prod1P{
        grid-area: Prod1P;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        margin-top: -20px;
        border-radius: 10px;
        box-shadow: 0px 3px 15px #393939 inset;
        z-index: 9;
    }
        #Prod1I{
            grid-area: Prod1I;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin: 20px;
            margin-bottom: -20px;
            border-radius: 10px;
            box-shadow: 2px 3px 10px #393939 inset;
            z-index: 10;
        }
            #Prod1P img{
                width: 100%;
                scale: 0.88;
                z-index: 9;
            }
#Prod1D{
    grid-area: Prod1D;  
    background-color: #fff;
    font-style:oblique;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px #393939 inset;
    z-index: 9;

    height: 300px;

   
}   




#Prod2{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,148,1) 0%, rgba(0,164,255,1) 100%); 
    grid-area: Prod2;
    display: grid;
    grid-template: 100px 400px / 1fr;
    grid-template-areas: 
    "Prod2I"
    "Prod2P";
    z-index: 9;
}
    #Prod2P{
        grid-area: Prod2P;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        margin-top: -20px;
        border-radius: 10px;
        box-shadow: 0px 3px 15px #393939 inset;
        z-index: 9;
    }   
        #Prod2I{
            grid-area: Prod2I;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin: 20px;
            margin-bottom: -20px;
            border-radius: 10px;
            box-shadow: 2px 3px 10px #393939 inset;
            z-index: 10;
        }
            #Prod2P img{
                width: 100%;
                scale: 0.9;
                z-index: 9;
            }
#Prod2D{
    grid-area: Prod2D;
    background-color: #fff;
    font-style:oblique;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px #393939 inset;
    z-index: 9;

    height: 300px;
}



#Prod3{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,148,1) 0%, rgba(0,164,255,1) 100%); 
    grid-area: Prod3;
    display: grid;
    grid-template: 100px 400px / 1fr; 
    grid-template-areas: 
    "Prod3I"
    "Prod3P";
    z-index: 9;
}
    #Prod3P{
        grid-area: Prod3P;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        margin-top: -20px;
        border-radius: 10px;
        box-shadow: 0px 3px 15px #393939 inset;
        z-index: 9;
    }   
        #Prod3I{
            grid-area: Prod3I;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin: 20px;
            margin-bottom: -20px;
            border-radius: 10px;
            box-shadow: 2px 3px 10px #393939 inset;
            z-index: 10;
        }
            #Prod3P img{
                width: 100%;
                scale: 0.90;
                z-index: 9;
            }
#Prod3D{
    grid-area: Prod3D;
    background-color: #fff;
    font-style:oblique;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px #393939 inset;
    z-index: 9;

    height: 300px;
}



#Prod4{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,148,1) 0%, rgba(0,164,255,1) 100%); 
    grid-area: Prod4;
    display: grid;
    grid-template: 100px 400px / 1fr;
    grid-template-areas: 
    "Prod4I"
    "Prod4P";
    z-index: 9;
}
    #Prod4P{
        grid-area: Prod4P;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        margin-top: -20px;
        border-radius: 10px;
        box-shadow: 0px 3px 15px #393939 inset;
        z-index: 9;
    }   
        #Prod4I{
            grid-area: Prod4I;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin: 20px;
            margin-bottom: -20px;
            border-radius: 10px;
            box-shadow: 2px 3px 10px #393939 inset;
            z-index: 10;
        }
            #Prod4P img{
                width: 100%;
                scale: 0.8;
                z-index: 9;
            }
#Prod4D{
    grid-area: Prod4D;
    background-color: #fff;
    font-style:oblique;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px #393939 inset;
    z-index: 9;

    height: 300px;
}

#h{
    font-size: x-large;
}


.textb{
    color: #222;
    text-decoration: underline;
    font-size: small;
    font-style: normal;
}
.texta{
  font-size: large;

}





/* VårVISION */
.spacerV{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0,164,255,1);
}
.spacerV::before{
  z-index: 3;
  content: "";
  display: block;
  position: absolute;
  top: 100;
  width: 100%;
  height: 565px;
  background-color: rgba(0, 0, 0, 0.5);
}
.texovimg{
    position: absolute;
    color: #f0f0f0;
    font-size: 80px;
    z-index: 3;
}
.omoss{
    position: absolute;
    color: #f0f0f0;
    font-size: x-large;
    bottom: 120px;
    
    z-index: 3;
}
.spacerV img{
    z-index: 1;
}






/* FOOTER AND INFO */

.footer{
    display: grid;
    grid-template: 300px / 1fr 1fr 1fr;
    grid-template-areas: 
    "left mid right";
    background-color: #222;
}

#leftF{
    grid-area: left;
    color: #fff;
    padding: 50px;
}

#midF{
    grid-area: mid;
    color: #fff;
    padding: 50px;
}

#rightF{
    grid-area: right;
    color: #fff;
    padding: 50px;
}